body{
    background-color: rgb(255, 250, 183);
}

p{
    font-family: 'Bona Nova', serif;
    font-size: 18px;
}

a{
    font-size: 18px;
}

#bkg{
    background-color: rgb(218, 255, 163);
    position: absolute; top: 10px; left: 50px;
    height: 750px;
    width: 950px;
}