body{
    background-color: rgb(255, 255, 255);
}

p{
    font-family: 'Bona Nova', serif;
    font-size: 20px;
}

a{
    font-family: 'Bona Nova', serif;
    font-size: 25px;
}

h1{
    font-size: 60px; 
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

img{
    width: 75%;
    height: auto;
}

#pic1{
    width: 1300px;
    height: auto;
}

#bkg{
    background-color: rgb(163, 224, 255);
    position: absolute; top: 25px; left: 110px;
    height: 1250px;
    width: 1200px;
    padding: 50px;
    border-style: double;
    border-width: 15px;
}

#imgoverlap{
    position: absolute; top: 280px; left: 275px;
    width: 1380px;
    height: auto;
    padding: 0px;
}