#indexcss {
    background-color: rgb(35, 15, 4);

    main ul {
        margin: 20px;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 100px;
        font-weight: bold;
    }
    
    header ul li {
        flex: 1 1 40%;
        margin: 10px;
        box-sizing: border-box;
    }

    #header-img {
        flex: 0 1 auto;
    }

    #header-img img {
        float: left;
    }

    #banner {
        background-color: black;
        padding: 5px;
    }

    main section {
        padding: 50px 500px;
    }

    main section h3 {
        font-size: 60px;
        color: rgb(255, 213, 129);
        padding: 0;
        margin: 0
    }

    main section h5 {
        font-size: 90px;
        color: rgb(255, 148, 82);
        padding: 0;
        margin: 0;
    }
}

#homecss {
    header {
        margin: 0;
    }

    header h3 {
        font-size: 25px;
    }

    main p {
        font-size: 15px;
        background-color: rgb(255, 247, 198);
        padding: 2px;
    }

    img {
        padding: 20px;
    }

    aside {
        position: absolute;
        bottom: 10%;
        background-color: black;
        padding: 5% 7%;
    }

    aside p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        color: white;
    } 
}

#homealtcss {
    main p {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    }
}

#indecisioncss {
    main {
        padding: 50px;
    }

    main blockquote {
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

#window {
    position: relative;
    width: 50%;
    height: 853px;
    display: block;
    object-fit: cover;
    border-radius: 42% 42% 0% 0% / 40% 40% 30% 30%;
    border: 20px double rgb(227, 202, 112);
}

.flip {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.textshadow {
    text-shadow: 10px 3px rgb(255, 234, 159);
}

.textstroke {
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(172, 89, 0);
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(64, 110, 38);
    font-size: 25px;
}

header {
    margin-bottom: 35px;
}

html {
    background-color: bisque;
}

body {
    padding: 40px 20px;
    font-size: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;

}

.center {
    text-align: center;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}

#textannounce {
    font-size: 100px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}